
* {
    margin: 0; 
    padding: 0;
    box-shadow: 0;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

section {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    margin-top: 300px;
    background-color: #f2f2f2;
    margin: auto;
    box-shadow: 5px 5px black
}

button {
    padding: 15px 10px;
    border-radius: 10px;  
    cursor: pointer;  
    background-color: rgba(55, 51, 58, 0.253);
}

button:hover{
    transition: 1s;
    background-color: #f2f2f2;
}

#buttons {
    display: flex;
    gap: 20px;
}
